@mixin title($fw: 500, $fz: 20px, $color) {
  font-weight: $fw;
  font-size: $fz;
  line-height: 26px;
  color: $color;
}

@mixin link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}


@mixin btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 13px 30px;
  border: none;
  background-color: #f78b3b;
  border-radius: 10px;

  
  &:hover{
    cursor: pointer;
  }
}