@import "../variable";

.header {
  background-color:$news-bg-color;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__image {
  display: block;
}

.header__currencies {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 35px;
}

.header__icon {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color:$footer-color;
  display: inline-block;
  margin-right: 5px;
}

.header__currency:not(:last-child) {
  margin-right: 25px;
}

.gamburger__menu{
  display: none;
  font-size: 35px;
  margin-right: 50px;
}

.header__label-search {
  position: relative;
  display: flex;
  align-items: center;
}

.header__label-search::before {
  content: "";
  position: absolute;
  margin-left: 15px;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/image/icon/search.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.header__search {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 14px 14px 14px 40px;
  border-radius: 60px;
  border: none;
  outline-color:$footer-color;
  color: #8d8d8d;
  background: #ffffff;
}

.header__lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
  padding: 3px;
  background-color: #dce6ff;
  width: 70px;
  border-radius:40px;
}

.header__lang-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 9px;
  font-size: 13px;
  line-height: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #a6a6a6;
  cursor: pointer;
}

// .lang__inp:checked + .header__lang-label{
//   color:red;
//   background-color: #ffffff;
// }

.header__btn{
  padding: 13px 20px;
  background-color:$footer-color;
  border-radius: 10px;


  &:hover{
    cursor: pointer;
  }
}

.header__btn-link{
  font-family: "Rubik",'Tahoma',sans-serif;
  font-weight: 500;
  font-size:16px;
  line-height: 19px;
color: #FFFFFF;
}

@media only screen and (max-width:960px){
  .header__link{
    flex-grow: 1;
  }
  .header__currencies{
    flex-grow: 0;
  }
}

@media only screen and (max-width:768px){
  .header__currencies{
    display: none;
  }

  .gamburger__menu{
    display: inline-block;
  }
  .header__form{
    display: none;
  }
}

@media only screen and (max-width:320px){
  .header__link{
    flex-grow: 1;
  }
  .header__currencies{
    flex-grow: 0;
  }
}

@media only screen and (max-width:768px){
  .header__link{
    margin-right: 0;
  }
  .header__currencies{
    display: none;
  }

  .gamburger__menu{
    display: inline-block;
    flex-grow: 1;
  }
  .header__form{
    display: none;
  }

  .header__lang{
    display: none;
  }

  .header__btn{
    display: none;
  }
}